[Desktop Entry]
Encoding=UTF-8
Name=Link to Direct Raspberry Pi IO with Apache and WiringPi | Cupid Controls
Type=Link
URL=http://www.cupidcontrols.com/2014/09/direct-raspberry-pi-io-with-apache-and-wiringpi/
Icon=text-html
