[Desktop Entry]
Encoding=UTF-8
Name=Link to Raspberry Pi web server - Controlling GPIO with wiringPi
Type=Link
URL=http://raspberrywebserver.com/gpio/wiringPi.html
Icon=text-html
