[Desktop Entry]
Encoding=UTF-8
Name=Link to Run Bash Command from PHP - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/11052162/run-bash-command-from-php
Icon=text-html
